@font-face {
	font-family: 'Disket Mono'; 
	src: url(/fonts/Disket-Mono-Regular.ttf); 
}

@font-face {
	font-family: 'Disket Mono bold'; 
	src: url(/fonts/Disket-Mono-Bold.ttf); 
}


body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background-color: #010d18;
    margin: 0;
}


.datetime-container {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    height: 20rem;
    width: 20rem;
}

.current-datetime {
    height: 5rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding-right: 2rem;
}

.current-time {
    font-family: 'Disket Mono bold';
    font-size: 2rem;
}

.current-date {
    font-family: 'Disket Mono';
    font-size: 1.5rem;
}